{% extends "base.html" %}

{% block content %}
<!-- S3_users.html -->
<html>
<head>
    <title>User Data</title>
</head>
<body>
    <h1>User Data</h1>
    <table>
        <tr>
            <th>User ID</th>
            <th>User Name</th>
            <th>User Email</th>
        </tr>
        {% for user in usr %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock %}
